<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Corporate Business Template &mdash; Your Slogan goes here &mdash; Our Philosophy</title>

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="version" content="1.0" />
    <meta name="copyright" content="" />
    <link rel="shortcut icon" href="favicon.ico" />

	<!--
		This file is part of a site template for sale at ThemeForest.net.
		See: http://themeforest.net/user/simonbouchard/portfolio
		Copyright 2009 Simon Bouchard <info@simonbouchard.com>
	-->

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/screen.css" />

    <!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.cycle.js"></script>
	<script type="text/javascript" src="assets/js/jquery.functions.js"></script>
	<script type="text/javascript" src="assets/js/cufon-yui.js"></script>
	<script type="text/javascript" src="assets/js/lubalindemi.font.js"></script>
	<script type="text/javascript" src="assets/js/helveticaneue.font.js"></script>
	<script type="text/javascript" src="assets/js/config.font.js"></script>
	<!--[if IE 6]>
		<script src="assets/js/pngfix.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="assets/css/ie.css" />
	<![endif]--> 	
</head>
<body>

<!-- wrapper -->
<div class="wrapper">
        
	<!-- header -->
    <div class="header">
        
        <!-- logo -->        
    	<h1>Your Company Name &mdash; Your Slogan</h1>
        <!-- // logo -->
        
        <!-- top navigation  // use class selected for highlighting a item -->  
        <ul id="nav">
           	<li><a href="index.html">Home</a></li>
            <li class="sub"><a href="about.html" class="selected">About Us</a>
				<ul>
	        		<li><a href="about.html">Who are We ?</a></li>
	        		<li><a href="philosophy.html">Our Philosophy</a></li>
	        		<li><a href="team.html">Management Team</a></li>
	        		<li><a href="careers.html">Careers</a></li>
	        		<li><a href="contact.html">Contact Us</a></li>
				</ul>
            </li>
            <li class="sub"><a href="services.html">Services</a>
				<ul>
    				<li><a href="#">Website design</a></li>
    				<li><a href="#">Application design</a></li>
    				<li><a href="#">Interactive multimedia</a></li>
    				<li><a href="#">Brand identity</a></li>
    				<li><a href="#">SEO</a></li>
				</ul>            
            </li>
            <li><a href="contact.html">Contact Us</a></li>              
        </ul>        
        <!-- // top navigation -->
                
	</div>
    <!-- // header -->
        
    <!-- content -->
    <div class="content">
    	
    	<!-- content-wrapper -->
    	<div class="content-wrapper">

    		<!-- sidebar -->
    		<div class="sidebar">

	        	<ul class="subnav">
	        		<li><a href="about.html">Who are We ?</a></li>
	        		<li><a href="philosophy.html" class="selected">Our Philosophy</a></li>
	        		<li><a href="team.html">Management Team</a></li>
	        		<li><a href="careers.html">Careers</a></li>
	        		<li><a href="contact.html">Contact Us</a></li>
	        	</ul>
 	
				<!-- brochure -->			
				<div class="btn-widget">
					<a href="#" title=""><img src="images/btn_brochure.png" alt="" /></a>
				</div>
				<!-- // brochure -->
    		
    		</div>
    		<!-- // sidebar -->
			
			<!-- main-content -->    	
    		<div class="main-content">
    			
    			<h1>Stories</h1>
    			<h2>Ashley Johansen</h2>
          <p>Ashley was born on a warm Florida summer day in July 1998. We knew during the pregnancy that Ashley would be born with an abnormality on or near her ovaries. However, we had no idea the seriousness of Ashley's abnormality until after she was born.</p>
           
          <p>When Ashley was born, which was a perfect painfree/drugfree delivery, she was whisked away to have her first of what would be many ultrasounds and lab tests. On the day we were to be released from the hospital, we found that Ashley's total bilirubin level was a 15.8 (normal is 0.4-2.0). Having a jaundice baby is normal, Ashley's big brother Brad was jaundice at birth too. We weren't worried even though Ashley's level was really high. What concerned us more was the result of her first ultrasound. Ashley's abnormality turned out to be a precancerous cyst on her common bile duct near her liver called a choledochal cyst. Due to the risk of cancer, the cyst would need to be removed when Ashley became healthier and stronger.</p>
           
          <p>We were finally released from the hospital on day three post delivery with orders to put Ashley under direct sunlight to help rid the jaundice. However, putting her under direct sunlight didn't help at all. We found that her total bilirubin level jumped to a 21 just 24 hours after being released from the hospital. My husband and I were oblivious to what was going on with our baby girl, we were just being pulled by strings and walking in the direction of the doctor's voices.</p>
           
          <p>During Ashley's first six weeks of life, she was poked and prodded with needles, had to change from breast-feeding to formula feeding so many times, I am surprised she gained any weight. She had so many lab tests, HIDA Scans, ultrasounds that we felt we spent more time at the hospital then we did at home being parents to our then two year old son. Brad was being neglected and we felt guilty. Surprisingly, Brad was still a happy toddler that adored his little sister.</p>
           
          <p>Things were not getting better. Ashley's health was declining rapidly. After meeting with a pediatric surgeon and a pediatric GI specialist, it was determined that Ashley's cyst would need to be removed now! We had to postpone her baptism in our hometown so her life on earth could be saved.</p>
           
          <p>Ashley's first surgery took 8 hours, it was supposed to take 3 hours. The cyst was removed successfully but Ashley had something even more serious. Ashley's liver was badly damaged with cirrhosis, a biopsy was performed and she was diagnosed with biliary atresia. Ashley, we were told, would need a liver transplant by the age of 10 months or she would not survive.</p>
           
          <p>Ashley has had several surgeries and other procedures to hopefully prolong her life and the need for a liver transplant. Miraculously, Ashley has beat the odds and seems to keep the doctors guessing. We are very blessed. Our faith has brought us thus far and will continue to sustain us through our journey with Ashley.</p>
           
          <p>In October 2006, some masses/cysts were found on or around Ashley's liver.  Her platelet count is low, she has portal hypertension, a spleen the size of a 20 year olds, and varices on her stomach.  Ashley's disease has now progressed to the point that she needs a liver transplant but ironically she is not sick enough to qualify to be placed on the waiting list. Ashley's doctors say that two things need to happen for Ashley to be placed on the waiting list; she needs to have a major life threatening bleed or those masses in her liver become cancerous.  Therefore, we are monitoring Ashley very closely with multiple trips each year to Shand's Hospital in Gainesville, Florida and many tests to watch the growth of the masses and the degree of her varices.</p>
           
          <p>Ashley has proven to everyone that she is a fighter and no matter what the future holds for her, we know she will get through it.  We have been blessed to have her in our lives and to provide us with our new normal life.</p>
           
          <p>Written by Ashley's Mom, as found on <a href="http://loveforashley.com">loveforashley.com</a></p> 				
   				<div class="clearfix"></div>
    			    			
    		</div>
    		<!-- // main-content -->
    	
    	</div>
    	<!-- // content-wrapper -->
    	
	</div>
    <!-- // content -->
            
</div>
<!-- // wrapper -->

<!-- footer -->
<div class="footer">
	<div class="footer-wrapper">
		<p>Copyright &copy; 2009 <a href="#" title="Company Name">Your Company Inc.</a> All rights reserved. &mdash; Designed &amp; developed by <a href="http://www.simonbouchard.com">Simon Bouchard</a></p>
	</div>
</div>
<!-- // footer -->

<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>