%html
	%head
		%meta{:charset => 'utf-8'}
		%title BA Awareness
		/
			%link{:rel=>'stylesheet', :href=>'/css/screen.css', :media=>'screen,projection'}
			%link{:rel=>'stylesheet', :href=>'/css/print.css', :media=>'print'}
	%body
		%h1 Biliary Atresia
		%p This site will be developed to hold information for Biliary Atresia patients and parents to get the best care possible. Information like hospitals, Air Transportation, and support groups
		/
			%footer
				%p Developed by 
					%a{:href=>'http://bradjohansen.com', :target=>'_blank'}Brad Johansen
				%ul
					%li
						%a{:href=>'http://sinatrarb.com', :target=>'_blank'}Sinatra Ruby Framework
					%li
						%a{:href=>'http://haml-lang.com', :target=>'_blank'}Haml
					%li
						%a{:href=>'http://sass-lang.com', :target=>'_blank'}Sass
					%li
						%a{:href=>'http://heroku.com', :target=>'_blank'}Heroku
					%li
						%a{:href=>'http://github.com', :target=>'_blank'}Github/Git