<!DOCTYPE html>
	<head>
		<meta content="charset=utf-8">
		<title>BA Awareness</title>
		<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen,projection">
		<link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
	</head>
	<body id="index">
		<div id="wrap">
			<h1 id="biliary_atresia">Biliary Atresia</h1>
			<p>This website will be for Biliary Atresia patients and
				 parents of Biliary Atresia patients. They will be able
				 to find information on Hospitals, Air Transporation,
				 Liver Transplant funds, and support groups.
			</p>
			
			<h3>Built With:</h3>
			<ul>
				<li><a href="http://ruby-lang.org">Ruby</a></li>
				<li><a href="http://www.sinatrarb.com/">Sinatra Ruby Framework</a></li>
				<li><a href="http://HTML5.org">HTML5</a></li>
				<li><a href="http://CSS3.info">CSS3</a></li>
			</ul>
		</div>
	</body>
</html>