<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Biliary Atresia Awareness &mdash; Ashley's Story</title>

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="version" content="1.0" />
    <meta name="copyright" content="" />
    <link rel="shortcut icon" href="../favicon.ico" />

	<!--
		This file is part of a site template for sale at ThemeForest.net.
		See: http://themeforest.net/user/simonbouchard/portfolio
		Copyright 2009 Simon Bouchard <info@simonbouchard.com>
	-->

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/screen.css" />
	
    <!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.cycle.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.infieldlabel.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.functions.js"></script>
	<script type="text/javascript" src="../assets/js/cufon-yui.js"></script>
	<script type="text/javascript" src="../assets/js/lubalindemi.font.js"></script>
	<script type="text/javascript" src="../assets/js/helveticaneue.font.js"></script>
	<script type="text/javascript" src="../assets/js/config.font.js"></script>
	<!--[if IE 6]>
		<script src="assets/js/pngfix.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/ie.css" />
	<![endif]--> 	

</head>
<body>

<!-- wrapper -->
<div class="wrapper">
        
	<!-- header -->
    <div class="header">
        
        <!-- logo -->        
    	<h1>Biliary Atresia Awareness</h1>
        <!-- // logo -->
        
        <!-- top navigation  // use class selected for highlighting a item -->  
        <ul id="nav">
           	<li><a href="/" class="selected">Home</a></li>
            <li class="sub"><a href="/whatisit" class="selected">What is it?</a>
				<ul>
	        		<li><a href="/whatisit/whatisba">What is Biliary Atresia?</a></li>
	        		<li><a href="#">What are the Symptoms?</a></li>
	        		<li><a href="#">Is there a Cure?</a></li>
	        		<li><a href="#">What Procedures are there?</a></li>
				</ul>
            </li>
            <li class="sub"><a href="/stories">Memorable Stories</a>
				<ul>
    				<li><a href="/stories/ashley-johansen">Ashley Johansen</a></li>
    				<li><a href="#">Some Person</a></li>
    				<li><a href="#">Some Person</a></li>
    				<li><a href="#">Another Person</a></li>
    				<li><a href="#">Another Person</a></li>
				</ul>            
            </li>
            <li><a href="/hospitals">Hospitals</a></li>
        </ul>        
        <!-- // top navigation -->
                
	</div>
    <!-- // header -->
        
    <!-- content -->
    <div class="content">
    	
    	<!-- content-wrapper -->
    	<div class="content-wrapper">

    		<!-- sidebar -->
    		<div class="sidebar">

	        	<ul class="subnav">
	        		<li><a href="/whatisit/whatisba" class="selected">What is Biliary Atresia?</a></li>
	        		<li><a href="#">What are the Symptoms</a></li>
	        		<li><a href="#">Is there a Cure?</a></li>
	        		<li><a href="#">What Treatments are there?</a></li>
	        	</ul>
 	
				<!-- follow us on twitter -->			
				<div class="btn-widget">
					<a href="http://twitter.com/ba_awareness" title="">
					  <img src="../images/btn_twitter.png" alt="" />
				  </a>
				</div>
				<!-- // follow us on twitter -->
    		
    		</div>
    		<!-- // sidebar -->
			
			<!-- main-content -->    	
    		<div class="main-content">
    			
    			<h1>What is it?</h1>
    			<h2>What is Biliary Atresia?</h2>
    			<p>
    			  <strong>
    			    Biliary atresia is the congenital absence or closure 
    			    of the ducts that drain bile from the liver.
  			    </strong>
    			</p>
    			
    			<p>
    			  Cells within the liver secrete a liquid called bile, which is made up of cholesterol, bile salts and waste products, including bilirubin. A network of tubular structures and tiny ducts form the biliary system to drain bile from the liver to the small intestine where it aids in the digestive process. Biliary atresia is the closure or disappearance of the biliary system.
    			</p>
    			
    			<p>
    			  Biliary atresia is a progressive inflammatory process that begins very soon after birth. In the most common form, called extrahepatic biliary atresia, the delicate ducts outside the liver are affected first. White blood cells invade the ducts, which become damaged and may whither or completely disappear. Bile is trapped inside the liver and rapidly causes damage and scarring to the liver cells. Further scarring of the liver tissue may result in cirrhosis.
    			</p>
    			
    			<p>
    			  On average, there is one case of biliary atresia out of every 15,000 live births. Females are affected slightly more often than males. In the United States, approximately 300 new cases are diagnosed each year.
    			</p>
    			
    			<h3>What Causes Biliary Atresia</h3>
    			<p>
    			  The cause of biliary atresia is unknown. Auto-immune mechanisms may be partly responsible for the progressive process that takes place. Recent research suggests that a viral infection in susceptible infants could result in biliary atresia. About 10% of cases have other associated congenital defects in the heart, blood vessels, intestine, or spleen.
    			</p>
    			
    			<p>
    			  Although the cause is uncertain, it is known that biliary atresia affects only newborns; it is not hereditary; it is not contagious; and it is not preventable. Parents should be assured that biliary atresia is not caused by anything the mother did during pregnancy.
    			</p>
          <div class="clearfix"></div>
    			    			
    		</div>
    		<!-- // main-content -->
    	
    	</div>
    	<!-- // content-wrapper -->
    	
	</div>
    <!-- // content -->
            
</div>
<!-- // wrapper -->

<!-- footer -->
<div class="footer">
	<div class="footer-wrapper">
		<p>Copyright &copy; 2010 <a href="/" title="BA Awareness">BA Awareness</a> All rights reserved. &mdash; Designed by <a href="http://www.simonbouchard.com">Simon Bouchard</a></p>
	</div>
</div>
<!-- // footer -->

<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
