<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Biliary Atresia Awareness &mdash; Ashley's Story</title>

	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

    <meta name="robots" content="all" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <meta name="version" content="1.0" />
    <meta name="copyright" content="" />
    <link rel="shortcut icon" href="../favicon.ico" />

	<!--
		This file is part of a site template for sale at ThemeForest.net.
		See: http://themeforest.net/user/simonbouchard/portfolio
		Copyright 2009 Simon Bouchard <info@simonbouchard.com>
	-->

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/screen.css" />
	
    <!-- jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.cycle.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.infieldlabel.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.functions.js"></script>
	<script type="text/javascript" src="../assets/js/cufon-yui.js"></script>
	<script type="text/javascript" src="../assets/js/lubalindemi.font.js"></script>
	<script type="text/javascript" src="../assets/js/helveticaneue.font.js"></script>
	<script type="text/javascript" src="../assets/js/config.font.js"></script>
	<!--[if IE 6]>
		<script src="assets/js/pngfix.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="../assets/css/ie.css" />
	<![endif]--> 	

</head>
<body>

<!-- wrapper -->
<div class="wrapper">
        
	<!-- header -->
    <div class="header">
        
        <!-- logo -->        
    	<h1>Biliary Atresia Awareness</h1>
        <!-- // logo -->
        
        <!-- top navigation  // use class selected for highlighting a item -->  
        <ul id="nav">
           	<li><a href="/" class="selected">Home</a></li>
            <li class="sub"><a href="/whatisit" class="selected">What is it?</a>
				<ul>
	        		<li><a href="/whatisit/whatisba">What is Biliary Atresia?</a></li>
	        		<li><a href="/whatisit/symptoms">What are the Symptoms?</a></li>
	        		<li><a href="#">Is there a Cure?</a></li>
	        		<li><a href="#">What Procedures are there?</a></li>
				</ul>
            </li>
            <li class="sub"><a href="/stories">Memorable Stories</a>
				<ul>
    				<li><a href="/stories/ashley-johansen">Ashley Johansen</a></li>
    				<li><a href="#">Some Person</a></li>
    				<li><a href="#">Some Person</a></li>
    				<li><a href="#">Another Person</a></li>
    				<li><a href="#">Another Person</a></li>
				</ul>            
            </li>
            <li><a href="/hospitals">Hospitals</a></li>
        </ul>        
        <!-- // top navigation -->
                
	</div>
    <!-- // header -->
        
    <!-- content -->
    <div class="content">
    	
    	<!-- content-wrapper -->
    	<div class="content-wrapper">

    		<!-- sidebar -->
    		<div class="sidebar">

	        	<ul class="subnav">
	        		<li><a href="/whatisit/whatisba" class="selected">What is Biliary Atresia?</a></li>
	        		<li><a href="/whatisit/symptoms">What are the Symptoms?</a></li>
	        		<li><a href="#">Is there a Cure?</a></li>
	        		<li><a href="#">What Treatments are there?</a></li>
	        	</ul>
 	
				<!-- follow us on twitter -->			
				<div class="btn-widget">
					<a href="http://twitter.com/ba_awareness" title="">
					  <img src="../images/btn_twitter.png" alt="" />
				  </a>
				</div>
				<!-- // follow us on twitter -->
    		
    		</div>
    		<!-- // sidebar -->
			
			<!-- main-content -->    	
    		<div class="main-content">
    			
    			<h1>What is it?</h1>
    			<h2>What are the Symptoms?</h2>
    			<p>
    			  In most cases, a full term infant will appear normal at birth but then develops 
    			  <a href="http://en.wikipedia.org/wiki/Jaundice">jaundice</a> after about 2 to 3 weeks. 
    			  The infant will develop yellow eyes and skin, light-colored stools and dark urine caused 
    			  by the build up of <a href="http://en.wikipedia.org/wiki/Bilirubin">bilirubin</a> in the blood. 
    			  The abdomen may swell, caused by a firm, enlarged liver. Weight loss and irritability can develop 
    			  as the level of jaundice increases.
    			</p>
    			
          <h3>Diagnosis</h3>
    			<p>
    			  Many tests will be condcuted to rule out other possible causes of 
    			  jaundice and diagonsis of Biliary Atresia
    			</p>
    			<ul>
    			  <li>
    			    Blood tests may show abnormal results in total and indirect bilirubin 
    			    which may indicate liver dysfunction.
    			  </li>
    			  <li>
    			    An abdominal ultrasound test may detect an absent or tiny gall bladder
    			  </li>
    			  <li>
    			    <a href="http://en.wikipedia.org/wiki/HIDA_scan">
    			      Hepatobiliary iminodiacetic acid (HIDA) scan
  			      </a>, also called cholescintigraphy, to help determine whether the bile 
    			    ducts and gallbladder are working properly
    			  </li>
    			  <li>
    			    A liver biopsy will be performed to determine the severity of cirrhosis or 
    			    to rule out other causes of Jaundice.
    			  </li>
    			  <li>
    			    For More information on how Biliary Atresia is diagonsed visit 
    			    <a href="http://health.nytimes.com/health/guides/disease/biliary-atresia/overview.html">
    			     New York Times - Health Guide
    			    </a>
    			</ul>
          <div class="clearfix"></div>
    			    			
    		</div>
    		<!-- // main-content -->
    	
    	</div>
    	<!-- // content-wrapper -->
    	
	</div>
    <!-- // content -->
            
</div>
<!-- // wrapper -->

<!-- footer -->
<div class="footer">
	<div class="footer-wrapper">
		<p>Copyright &copy; 2010 <a href="/" title="BA Awareness">BA Awareness</a> All rights reserved. &mdash; Designed by <a href="http://www.simonbouchard.com">Simon Bouchard</a></p>
	</div>
</div>
<!-- // footer -->

<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
